<!--Begin item -->
<div class="card">
  <img class="card-img-top" [src]="phim.HinhAnh" alt="">
  <div class="card-body">
    <h4 class="card-title">{{phim.TenPhim}}</h4>
    <!-- Cách 1 truyền tham số lên url -->
    <!-- <a class="btn btn-primary" routerLink="/home/chi-tiet-phim/{{phim.MaPhim}}">Mua vé</a> -->

    <!-- Cách 2 truyền nhiều tham số -->
    <!-- <a class="btn btn-primary" [routerLink]="['/home/chi-tiet-phim/']"
      [queryParams]="{maPhim: phim.MaPhim, tenPhim: phim.TenPhim}">Mua vé</a> -->

    <button class="btn btn-primary" (click)="muaVe()">Mua vé</button>
  </div>
</div>
<!-- End item -->